.chat-main
  .chat-main__group-info
    .info-tops
      .info-tops__title
        test
      .info-tops__member
        Member : masa
    .info-edit
      Edit
  .chat-main__message-list
    <メインチャット>
  .chat-main__message-form